   /* WelcomePage.css */
.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 123, 255, 0.7), rgba(0, 123, 255, 0.7)), url('https://media.istockphoto.com/id/959093486/vector/blue-abstract-gradient-mesh-background.jpg?s=612x612&w=0&k=20&c=c6lozNEcfMBlPlZazHJiy4NnviEGkAPPgubKC-9GowI=') center/cover no-repeat;
  color: white;
}

.welcome-content {
  text-align: center;
  animation: fadeIn 1.5s ease-out;
}

.logo {
  width: 250px;
  margin-bottom: 20px;
  animation: slideDown 1s ease-out;
}

.welcome-button {
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(to right, #13b7ee, #e7304f);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.2s;
}

.welcome-button:hover {
  background: linear-gradient(to left, #add8e6, #ffc0cb);
  transform: scale(1.05);
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
